@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

*{
    font-family: 'Blinker', sans-serif;
}
body {
    padding: 15px;
    font-size: 16px;
    background-color: #f0f4fa;
}

table {
    border-collapse: collapse;
    width: 100%;
    float: left;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dodgerblue;
    color: white;
}

.tablesContainer {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.singleTable {
    flex: 50%;
    padding-left: 5px;
    padding-right: 30px;
}

.rightTable{
    flex: 30%;
    padding-left: 5px;
    padding-right: 30px;
}

.leftTable{
    flex: 70%;
    padding-left: 5px;
    padding-right: 30px;
}

a{
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    color: #007bff;
    margin-bottom: 20px;
    padding: 3px 5px 3px 5px;
}

a:hover{
    text-decoration: none;
    border-radius: 5px;
    background-color: #56a8ff;
    color: white;
}

.currentPage {
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.currentPage:hover {
    background-color: #007bff;
}

.menu{
    margin-left: 2px;
    color: #007bff;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid transparent;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

select{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 7px;
}

input{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid black;
}

.formContainer{
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#PartenzeArrivi{
    float: left;
}

#searchContainer{
    float: left;
}

#codVolo{
    display: inline-block;
    margin-left: 3vw;
}

#codNome{
    float: right;
}

#Cerca{
    margin-left: 2px;
}

#CercaCodVolo{
    margin-left: 5px;
}

#Corrisponde{
    margin-right: 5px;
    margin-left: 5px;
    background-image: url(../images/exchanging-arrows.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

#scelta{
   margin-left: 5px; 
}

#sigla{
    width: 100px;
}

#nome{
    width: 190px;
}

.editCompany, .editFlight{
    background-image: url(../images/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px 33px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.editCompany:hover, .editFlight:hover{
    cursor: pointer;
}

.delCompany, .delFlight{
    background-image: url(../images/trash.ico);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.delCompany:hover, .delFlight:hover{
    cursor: pointer;
}

.centered{
    text-align:center;
}
